@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-white dark:bg-black text-black dark:text-white;
  font-family: 'Inter', sans-serif;
}

.circle {
  fill: none;
  stroke: #000; 
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: 283; 
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 1s linear; 
  transform: rotate(-90deg); 
  transform-origin: center;
}


.timer-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  font-weight: bold;
  color: #000; 
}

select::-ms-expand {
  display: none;
}


@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 0.5s ease-out forwards;
}


@media (prefers-color-scheme: dark) {
  .circle {
    stroke: #fff; 
  }
  .timer-text {
    color: #fff; /
  }
}
